body{
    font-family: 'Raleway',sans-serif;
    color: rgba(0, 0,0,.5);
    text-align: center;
    letter-spacing: .5em;
    text-transform: uppercase;
    top: 15%;
    background: linear-gradient(to right,rgba(33, 175, 152, 0.452),rgb(145, 228, 78));
}
h1{
    font: 600 3.5em 'Raleway',sans-serif;
    color: rgba(0, 0,0,.5);
    text-align: center;
    letter-spacing: .5em;
    width: 100%;
}

h3{
    font: 900 1em 'Raleway',sans-serif;
    color: rgba(0, 0,0,.5);
    text-align: center;
    text-transform: none;
    letter-spacing: 0.01em;
}


.ranbtn{
  color: rgb(255, 255, 255);
  background: #6868686b;
  padding: 10px;
  border-radius: 20px;
  border-style: hidden;
  outline: none;
}